#review {
	padding: 120px 0;
	background: #F6F8FD;
	ul {
		display: flex;
		justify-content: space-between;
		li {
			width: 32%;
			background: #fff;
			border-radius: 10px;
			padding: 30px;
			box-sizing: border-box;
			.review {
				font-family: 'NexonLv1Gothic';
				font-size: 18px;
				font-weight: 500;
				line-height: 1.5;
				display: -webkit-box;
				word-wrap: break-word;
				-webkit-line-clamp: 6;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;
				overflow: hidden;
				margin-bottom: 20px;
			}
			.user {
				padding: 20px 0;
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				display: flex;
				.user-left {
					width: 15%;
				}
				.user-right {
					width: 75%;
					padding-left: 15px;
					.name {
						font-size: 26px;
						font-weight: 500;
						margin-right: 10px;
					}
					.star {
						height: 15px;
						margin-top: 7px;
						img {
							width: auto;
							height: 100%;
						}
					}
				}
			}
			.more {
				text-align: center;
				padding-top: 20px;
				a {
					display: inline-block;
					height: 30px;
					line-height: 33px;
					padding: 0 15px;
					border-radius: 50px;
					font-size: 14px;
					font-weight: 500;
					color: #fff;
					background: #4857EC;
				}
			}
		}
	}
}
